body {
    background-color: #e1f4f3;
    text-align: center;
}

.navbar {
    background-color: #333333;
}
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column1 {
  color: #4287f5;
  text-align: center;
}
#bottom {

  bottom: 0;
  left: 0;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
  }